% Physique :
tfin = 0.08
xL = -1
xR = 1
xa = 0
xb = 0
om0 = 100
V0 = 0
x0 = -0.5
n = 16
sigma_norm = 0.04

% Numérique :
Nsteps = 800
Nintervals = 512
output = output

% Printing: set to 0 to reduce printouts
verbose = 1
